<h1>Conditions</h1>

<% @conditions.each do |condition| %>
  <% cache condition do %>
    <p><%= condition.name %></p>
    <p><%= condition.description %></p>
    <p><%= condition.source %></p>
  <% end %>
<% end %>
